@page
@model TestApp.PresentationLayer.Pages.ContactInfoPageModel
@{
    <form method="post">
        <input type="text" name="Salutation" />
        <input type="text" name="FirstName" />
        <input type="text" name="LastName" />
        <input type="text" name="MiddleName" />
        <input type="text" name="Company" />
        <input type="text" name="Title" />
        <input type="text" name="Email" />
        <input type="text" name="Phone" />
        <input type="text" name="Fax" />
        <input type="text" name="Mobile" />
        <input type="submit" value="send" />
    </form>
}
 @*public string Salutation { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string MiddleName { get; set; }
        public string Company { get; set; }
        public string Title { get; set; }
        public string Email { get; set; }
        public string Phone { get; set; }
        public string Fax { get; set; }
        public string Mobile { get; set; }*@